@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);

@import 'nav.css';
@import 'grayscale.css';
@import 'ipad.css';
@import 'information.css';
@import 'subscribe.css';
@import 'address.css';
@import 'footer.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body, html {
    font-family: "Nunito";
    scroll-behavior: smooth;
}