.subscribe  {
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0.7) 75%, #131212 100%),
    url('../pictures/bg-signup.jpg');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 980px;
}
.subscribe > .container {
    height: 300px;
    flex-direction: column;
    display: flex;
    margin-top: 100px;
    align-items: center;
}
.subscribe > .container > img {
    filter: invert(99%) sepia(1%) saturate(4420%) hue-rotate(269deg) brightness(121%) contrast(96%);
    width: 60px;
    height: 40px;
    margin: 15px;
}
.subscribe > .container > .texto {
    letter-spacing: 3px;
    color: white;
}
.subscribe > .container  input {
    margin: 20px;
    padding: 20px 30px;
    height: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    width: 500px;
}
.subscribe > .container button {
    padding: 12px;
    letter-spacing: 1px;
    margin-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: #64a19d;
}
@media (max-width: 4git00px) {
    .subscribe  {
        background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0.7) 75%, #131212 100%),
        url('../pictures/bg-signup.jpg');
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1200px;
    }
    .subscribe > .container  input {
        margin: 20px;
        padding: 10px 10px;
        height: unset;
        text-transform: uppercase;
        letter-spacing: 4px;
        border-radius: 5px;
        width: 300px;

    }
    .subscribe > .container button {
        padding: 10px;
    }
}